.card {
  display: flex;
  flex-direction: column;
  padding: 11px 16px;
  gap: 8px;
  background: var(--bg);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-card);
  border: 1px solid #DDDDDD;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.2px;
}

.description {
  margin: 0;
  color: var(--text-muted);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
}